* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Iranian Sans",Tahoma;
}

root {
    --box-color:;
    --body-color:;
}

body {
    position: relative;
    min-height: 100vh;
    width: 100%;
}

    body.dark {
        --box-color:;
        --body-color:;
    }

.container {
    width: 100%;
}

.box-shadow {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 7px 0 #eaeff4;
    -moz-box-shadow: 0 0 7px 0 #eaeff4;
    -webkit-box-shadow: 0 0 7px 0 #eaeff4;
    position: relative;
    border: 1px solid #ecf0f4;
    background-color: #fff;
}

html {
    font-size: 14px;
}


/*start scrollbar*/

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9px;
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

/*end scrollbar*/

/*start article*/
.hide {
    display: none;
}

.articletext {
    line-height: 25px;
}

.articleimg:hover + .hide {
    filter: contrast(180%);
    display: block;
}

/*end article*/

/*start preloader*/

.preloader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
}

.hidepreloader {
    display: none !important;
}

/*end preloader*/

/*start Layout*/

.signalr {
    position: fixed;
    bottom: 510px;
    right: 150px;
    display: none;
    width: 260px;
    height: 200px;
    z-index: 100;
    border-radius: 6px
}

/*start header*/

.mainimg {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -100 !important;
    filter: grayscale(28%) brightness(40%) sepia(100%) hue-rotate(-50deg) saturate(600%) contrast(0.8);
    width: 100%;
}

.searchinput {
    position: absolute;
    align-self: center;
    padding-inline: 30px;
}

.search {
    padding-top: 30px;
    top: 100px;
    justify-content: center;
}

.threepic {
    padding-top: 155px;
    padding-inline: 180px;
}

.threepicsicons {
    font-size: 50px;
}

.category {
    margin-top: 189px;
}

.srt {
    border-radius: 20px !important;
}

/*start sidebar*/

.sidebar {
    position: fixed;
    background: #11101d;
    top: 0;
    left: 0;
    width: 78px;
    height: 100%;
    padding: 6px 14px;
    transition: all 0.5s ease;
    z-index: 10;
    filter: opacity(90%);
}

    .sidebar.active {
        width: 240px;
    }

    .sidebar .logo_content .logo {
        pointer-events: none;
        opacity: 0;
        display: flex;
        align-items: center;
        color: #fff;
        width: 100%;
        height: 50px;
    }

    .sidebar.active .logo_content .logo {
        pointer-events: none;
        opacity: 1;
    }

.logo_content .logo i {
    font-size: 28px;
    margin-right: 5px;
}

.logo_content .logo .logo_name {
    font-size: 28px;
    font-weight: 400;
    transition: all 0.5s ease;
}

.sidebar #btn {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 6px;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translateX(-50%);
    font-size: 20px;
    line-height: 50px;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar ul {
    margin-top: 20px;
}

    .sidebar ul li {
        position: relative;
        width: 100%;
        height: 50px;
        margin: 0 5px;
        line-height: 50px;
        list-style: none;
    }

        .sidebar ul li .tooltip {
            position: absolute;
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
            top: 50%;
            left: 122px;
            width: 122px;
            height: 35px;
            line-height: 35px;
            border-radius: 6px;
            background: #fff;
            transition: 0s;
            opacity: 0;
            display: block;
            pointer-events: none;
            text-align: center;
            transform: translate(-50%, -50%);
        }

.sidebar.active ul li .tooltip {
    display: none;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
    transition: all 0.5s ease;
    top: 50%;
}

.sidebar ul li input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    font-size: 18px;
    padding-left: 50px;
    border: none;
    outline: none;
    color: #fff;
    background-color: #1d1b31;
}

.sidebar ul li .bx-search {
    position: absolute;
    color: #fff;
    font-size: 22px;
    z-index: 99;
    transition: all 0.5s ease;
}

    .sidebar ul li .bx-search:hover {
        color: #1d1b31;
        background-color: #fff;
    }

.sidebar ul li a {
    display: flex;
    align-items: center;
    border-radius: 12px;
    transition: all 0.4s ease;
    color: #fff;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar ul li i {
    height: 50px;
    min-width: 50px;
    line-height: 50px;
    border-radius: 12px;
    text-align: center;
}

.sidebar ul li a i:hover {
    color: #11101d;
    background-color: #fff;
}

.sidebar .links_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar.active .links_name {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.5s ease;
}

.sidebar .profile_content {
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}

    .sidebar .profile_content .profile {
        position: relative;
        padding: 10px 6px;
        height: 60px;
        transition: all 0.4s ease;
    }

.sidebar.active .profile_content .profile {
    background: #1d1b31;
}

.profile_content .profile .profile_detail {
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
}

.sidebar.active .profile .profile_detail {
    opacity: 1;
    pointer-events: auto;
}

.profile .profile_detail img {
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}

.profile .profile_detail .name_job {
    margin-left: 10px;
}

.profile .profile_detail .name {
    font-size: 15px;
    font-weight: 400;
}

.profile .profile_detail .job {
    font-size: 12px;
}

.profile #log_out {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    min-width: 50px;
    line-height: 50px;
    font-size: 20px;
    border-radius: 12px;
    text-align: center;
    transition: all 0.4s ease;
    background: #1d1b31;
}

.sidebar.active .profile #log_out {
    left: 88%;
}

.sidebar.active .profile #log_out {
    background: none;
}

/*end sidebar*/

/*start menubtn*/

.hamburger {
    display: inline;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding-left: 12px;
    padding-top: 5px;
}


    .hamburger .line {
        display: block;
        width: 25px;
        height: 3px;
        background-color: white;
        margin-block: 10px;
        border-radius: 4px;
        transition: transform .5s;
        opacity: 0.25s;
    }

    .hamburger.active .line:nth-child(1) {
        transform: translateY(13px) rotate(45deg);
    }

    .hamburger.active .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .line:nth-child(3) {
        transform: translateY(-13px) rotate(-45deg);
    }


/*end menubtn*/

/*end header*/

/*start chat*/

.chat {
    position: fixed;
    bottom: 40px;
    right: 40px;
    border-radius: 50%;
    text-align: center;
    padding: 20px;
    z-index: 1000;
}

    .chat:hover {
    }

.bx-coffee-togo {
    font-size: 35px;
}
/*end chat*/
/*start Footer*/
.footer-list-item {
    padding: 23px;
}

.footer-list-group {
    list-style: none;
}

    .footer-list-group .footer-list-item::after {
        content: "\2022";
        color: cyan;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
        padding-left: 23px;
    }

.footer-icon {
    font-size: 22px;
}

.footer-list-icon-group {
    display: flex;
    position: absolute;
    transform: translate(-50%, -50%);
}

    .footer-list-icon-group .footer-list-icon-item {
        list-style: none;
    }

        .footer-list-icon-group .footer-list-icon-item .footer-link-icon-item {
            width: 40px;
            height: 40px;
            background-color: #fff;
            text-align: center;
            line-height: 20px;
            font-size: 35px;
            margin: 0 10px;
            display: block;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            border: 3px solid #fff;
            z-index: 1;
        }

            .footer-list-icon-group .footer-list-icon-item .footer-link-icon-item .footer-icon {
                position: relative;
                color: #262626;
                transition: .5s;
                z-index: 3;
            }

            .footer-list-icon-group .footer-list-icon-item .footer-link-icon-item:hover .footer-icon {
                color: #fff;
                transform: rotateY(360deg);
            }

            .footer-list-icon-group .footer-list-icon-item .footer-link-icon-item:before {
                content: "";
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                height: 100%;
                background: #f00;
                transition: .5s;
                z-index: 2;
            }

            .footer-list-icon-group .footer-list-icon-item .footer-link-icon-item:hover:before {
                top: 0;
            }

        .footer-list-icon-group .footer-list-icon-item:nth-child(1) .footer-link-icon-item:before {
            background: #dd4b39;
        }

        .footer-list-icon-group .footer-list-icon-item:nth-child(2) .footer-link-icon-item:before {
            background: #55acee;
        }

        .footer-list-icon-group .footer-list-icon-item:nth-child(3) .footer-link-icon-item:before {
            background: #0077b5;
        }

        .footer-list-icon-group .footer-list-icon-item:nth-child(4) .footer-link-icon-item:before {
            background: #3b5999;
        }
/*end Footer*/
/*end Layout*/

/*start Index*/
/*start Chat*/






#chatHistory {
    margin-top: 20px;
    list-style-type: none;
    text-align: left;
    padding-top: 15px;
    margin-bottom: 15px;
    height: 285px;
    overflow-y: auto;
}

    #chatHistory li {
        padding-bottom: 15px;
    }

        #chatHistory li .name {
            font-weight: bold;
            margin-right: 5px;
        }

        #chatHistory li .time {
            color: #999;
        }

        #chatHistory li .message {
            padding-top: 5px;
        }

#chatConnectionInfo {
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    padding-top: 100px;
    color: darkred;
    z-index: 2;
    display: none;
}

#chatDialog.disconnected #chatMainPanel {
    filter: blur(2px);
}

#chatDialog.disconnected #chatConnectionInfo {
    display: block;
}

#chatWelcomePanel {
    width: 100%;
    height: 100%;
    z-index: 3;
}

/*end Chat*/

/*start agent*/

#chatHistory {
    list-style-type: none;
    text-align: left;
    height: 400px;
    overflow-y: scroll;
    margin-bottom: 0;
}


    #chatHistory li .name {
        font-weight: bold;
        margin-right: 5px;
    }

    #chatHistory li .time {
        color: #999;
    }

    #chatHistory div.message {
        padding-bottom: 15px;
    }


/*end agent*/

/*end Index*/


/*start course*/
.tags {
    border: solid;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(60deg,#b16ec4,#5f97b9);
}

/*end course*/

/*start form*/

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

/*end form*/
