@model MyLearn.Application.ViewModels.Accounts.EditProfileViewModel

<div class="card box-shadow">
    <div class="container">
        <div class="card-header">
            ویرایش حساب کاربری
        </div>
        <div class="card-body">
            <label asp-for=""></label>
            <input asp-for="" class="form-control" />

            <label asp-for=""></label>
            <input asp-for="" class="form-control" />
        </div>

        <input type="button" value="ویرایش حساب کاربری" class="btn btn-success" />
    </div>
</div>