<div class="card box-shadow">
    <div class="container">
        <div class="card-header">
            کیف پول

            <p>موجودی شما:</p>
        </div>
        <div class="card-body">
            <div class="alert alert-warning">
                مبلغ شارژ به تومان می باشد و لطفا دقت کنید مبلغ پرداختی به هیچ عنوان امکان استرداد ندارد .
            </div>

            <i class="bi bi-currency-dollar"></i>
            <label>مبلغ مورد نظر(تومان)</label>
            <input asp-for="" />
            <input type="button" class="btn btn-success" />
        </div>
    </div>
</div>