<div class="col-md-6 text-start px-0" dir="rtl">
    <div class="container">
        <div class="row d-flex justify-content-end">
            <div class="box-shadow pt-4 ">
                <h4 class="text-primary d-inline">
                    <i class="bi bi-telephone text-primary h4"></i>
                    شماره تماس و ایمیل
                </h4>
                <ul class="pt-3">
                    <li class="list-unstyled">021-88454816</li>
                    <li class="list-unstyled pt-3">info@Toplearn.com</li>
                </ul>
            </div>

            <div class="box-shadow pt-4 mt-4">
                <h4 class="text-primary d-inline">
                    <i class="bi bi-phone text-primary h3"></i>
                    شماره موبایل
                </h4>
                <ul>
                    <li class="list-unstyled pt-4">
                        <span>-</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
