<p class="text-start">
    <h3 class="text-primary">    مراحل همکاری در تاپ لرن</h3>
تاپ لرن یک پلتفرم آموزشی در بستر تجارت الکترونیک می باشد که از اساتید با تجربه در این حوزه دعوت به همکاری می نماید.

اگر تمایل دارید در تاپ لرن در زمینه تولید محتوای آموزشی فعالیت نمایید، می توانید از طریق تیکت (در پنل کاربری)  با کارشناسان ما در ارتباط باشید.

جهت شروع همکاری به این نکات توجه داشته باشید:

.  حداقل سن برای تدریس 18 سال می باشد.

.  برای شروع تدریس در تاپ لرن باید یک دوره رایگان (حداقل 3 ساعت) ارائه دهید.

.  دوره رایگان شما نباید به صورت نقدی در سایت وجود داشته باشد.

.  ویدیوی معرفی دوره باید شامل معرفی خود و معرفی دوره و آنچه که می خواهید در دوره تدریس نمایید باشد.

.  کیفیت صدا و تصویر ویدیوها باید مناسب باشد.

توجه داشته باشید، برای دوره های نقدی تعدادی از قسمت های هر دوره به صورت رندم رایگان منتشر می شوند، که تعداد این بخش های رایگان با توجه به زمان دوره تعیین می شود.

لطفا در هنگام ضبط ویدیو به این سه نکته توجه نمایید:

.  ابتدای هر جلسه موشن وجود دارد.

.  بعد از موشن، ویدیو باید از صفحه اول سایت تاپ لرن یا صفحه دوره شروع شود.

.  از ابتدای ویدیو (بعد از موشن) تا انتهای ویدیو لوگوی تاپ لرن باید در پایین گوشه تصویر قرار گیرد.

برای دانلود موشن، لوگو واتر مارک و فایل مربوط به مشخصات دوره از این لینک استفاده نمایید.(لینک دانلود)

ابتدا عنوان دوره خود را در تیکت  ارسال نمایید.

بعد از تایید عنوان دوره، ویدیوی معرفی، کارت ملی و فایل مشخصات دوره خود را به صورت یک فایل rar در این لینک آپلود نموده و در تیکت، لینک را ارسال نمایید.

پس از طی مراحل فوق و تایید کارشناسان، سمت استاد به شما داده شده و بقیه مراحل کار در اختیار شما قرار خواهد گرفت.

در رابطه با دوره های نقدی، مدرسین قیمت پیشنهادی دوره خود را ارائه داده و پس از بررسی قیمت گذاری نهایی می گردد.

رزومه شما به عنوان مدرس در وب سایت درج خواهد شد .

دقت داشته باشید دوره ای که در سایت تاپ لرن درج شود متعلق به تاپ لرن خواهد بود و تحت هیچ شرایطی از سایت حذف نخواهد شد و اگر مدرس دوره را در سایت و یا جای دیگری منتشر کند دوره در تاپ لرن رایگان خواهد شد.
</p>