<div class="container mb-5">
    <div class="d-flex justify-content-center align-self-center mb-5">
        <img src="/images/static/404.svg" width="500" />
    </div>
    <p class="text-nowrap text-center mb-5">ممکن است صفحه ای که به دنبال آن میگردید حذف شده باشد و یا آدرس آن را به درستی وارد نکرده باشید</p>
</div>
