<div class="card box-shadow text-start" dir="rtl">
    <div class="card-header text-primary">
        شرایط و قوانین سایت
    </div>
    <div class="card-body">

        <h5 class="text-primary">شرایط و قوانین استفاده از خدمات سایت تاپ لرن</h5>
        <br />
        <br />
        <p>
            کاربران گرامی هر گونه اقدام شما در سایت به منزله پذیرفتن قوانین سایت می باشد، بنابراین لطفا موارد زیر را جهت استفاده بهینه از خدمات سایت با دقت مطالعه فرمایید.
        </p>
        <br />
        <br />
        <b>تعریف کاربر</b>
        <br />
        <br />
        <p>
            کاربر شخصی است که با درج اطلاعات کاربری خود در فرم ثبت نام، از خدمات سایت استفاده می‌کند.

            توجه داشته باشید ایمیلی که با آن اقدام به ثبت نام می نمایید شناسه هر کاربر محسوب می شود، بنابراین تغییر ایمیل امکان پذیر نیست.

            برای استفاده از خدمات سایت حتما باید یک شماره همراه معتبر را در فرم ثبت نام وارد کرده و برای نهایی کردن فرایند ثبت نام آن را تأیید نمایید.

            توجه داشته باشید که این شماره فقط برای یک اکانت قابل تایید شدن است و امکان استفاده از آن در چندین اکانت وجود ندارد.

            همچنین شماره وارد شده امکان تغییر ندارد، لطفا شماره معتبر شخصی خود را درج نمایید.

            افرادی که خارج از ایران سکونت دارند و به سیم کارت ایرانی دسترسی ندارند و یا نمی توانند شماره ایران خود را تایید نمایند، برای استفاده از خدمات می توانند بعد از ثبت نام، تصویر پاسپورت خود را برای تایید شماره تماس ارسال کنند.

            لطفا از ایجاد اکانت های متعدد خودداری نمایید. در غیر اینصورت، غیر فعال کردن شماره همراه، تأیید شماره همراه در اکانت های متعدد، جا به جایی دوره های خریداری شده و هر اقدام دیگری مابین اکانت ها امکان پذیر نیست و عواقب آن به عهده ی کاربر می باشد.

            با ثبت نظر در قسمت نظرات دوره، به کاربران دیگر در انتخاب دوره و همچنین به بهبود و ارتقاء سطح آموزش مربوطه توسط مدرس کمک کنید. اما در نظر داشته باشید نظراتی که شامل موارد زیر باشند تأیید نخواهند شد و در صورت تکرار دسترسی به این بخش از کاربر گرفته خواهد شد:

            هر گونه تبلیغات

            بی احترامی یا توهین به دیگران

            الفاظ غیر اخلاقی

            نظرات نامرتبط به دوره

            محتوای سیاسی و توهین به قومیت‌های مختلف

            لینک به سایت های دیگر

            درخواست شماره همراه یا آی دی شبکه های اجتماعی از مدرس (در صورت تمایل مدرس شماره همراه یا آی دی شبکه های اجتماعی خود را در رزومه خود قرار می دهد)
        </p>
        <br />
        <br />
        <b>حریم خصوصی کاربران</b>
        <br />
        <br />
        <p>
            تیم تاپ لرن به اطلاعات خصوصی کاربران احترام گذاشته و از آن محافظت می‌نماید. بنابراین متعهد می شود که در حد توان از حریم شخصی شما و تمام موارد ارسالی از سمت کاربران دفاع کرده و در این راستا از تکنولوژی‌های امن استفاده می کند.

            تعریف مدرس

            مدرس شخصی است که بعد از تأیید توسط کارشناسان سمت استاد را دریافت کرده و می‌تواند در سایت تاپ لرن دوره های خود را منتشر نماید.

            مجموعه تاپ لرن برای اینکه بتواند آموزش های با کیفیتی را در اختیار کاربران قرار دهد، شرایطی را برای همکاری با مدرسان در نظر گرفته است.

            برای اطلاع از شرایط تدریس لطفا بخش همکاری با تاپ لرن را مطالعه فرمایید.
        </p>
        <br />
        <br />
        <b>شرایط خرید دوره ها</b>
        <br />
        <br />
        <p>
            رضایت کاربران بزرگترین هدف مجموعه تاپ لرن است. اما از آنجایی که بررسی کیفیت تمام دوره ها امکان پذیر نیست، از این رو برای خریدی مطمئن و بهتر، فرم های نظرسنجی برای تمامی دوره‌ها افزوده شده است. همچنین برخی از قسمت های هر دوره به صورت رایگان منتشر می شود تا شما بتوانید با نوع گفتار مدرس، کیفیت ویدیو و تسلط مدرس آشنا شوید.

            علاوه بر این هر مدرس موظف است حداقل یک دوره رایگان ارائه دهد تا دانشجوها بتوانند بدون پرداخت هزینه با نحوه تدریس مدرس بیشتر آشنا شوند.

            تیم تاپ لرن از شما کاربران گرامی تقاضا دارد تا قبل از اقدام به خرید، دوره های رایگان اساتید را بررسی کرده و بخش های رایگان دوره ی مورد نظر خود را تماشا کنید و بعد اقدام به خرید نمایید.

            مجموعه تاپ لرن با در نظر گرفتن این موارد و حجم بالای دوره ها و جلسات مربوط به هر دوره،  نمی تواند مسئولیتی در قبال کیفیت دوره ها برعهده گیرد و از کاربران تقاضا دارد که حتما توصیه های عنوان شده را رعایت نمایند. ضمنا با توجه به این امکانات که برای بررسی کیفیت دوره و نحوه ی تدریس اساتید در اختیار کاربران قرار داده شده است، عودت وجه امکان پذیر نمی باشد.

            بعد از خرید، تا 3 ماه دوره پشتیبانی دارد و دانشجویان عزیز می توانند از قسمت پرسش و پاسخ با مدرس در ارتباط باشند.

            توجه داشته باشید در قسمت پرسش و پاسخ از عناوین مناسب استفاده نمایید. عنوان سوال باید مختصر بوده و به وضوح گویای محتوای سوال باشد. در غیر این صورت سوال مورد نظر حذف خواهد شد.

            مدرسان موظف هستند فقط موارد آموزشی که در ویدیو معرفی و سرفصلهای دوره عنوان می کنند را بیان کنند، و در رابطه با آپدیت دوره مدرس هیچ تعهدی ندارد (حتی اگر در دوره عنوان شده باشد). آپدیت هر دوره توسط مدرس اختیاری می باشد و تمام دوره ها لزوما آپدیت نخواهند داشت.

            ارتباط با مدرس و پشتیبانی دوره ها فقط از طریق بخش نظرات و بخش پرسش و پاسخ سایت انجام می‌شود و تاپ لرن هیچ گونه مسئولیتی در رابطه با ارتباطات خارج از سایت را بر عهده ندارد.

            تعهدهای اعلام شده در ویدئوها توسط اساتید،به عهده سایت تاپ لرن نمی باشد و مسئولیت آن به عهده خود مدرس می باشد.

            در صورت بروز مشکل در پردازش نهایی فاکتور خرید، با ارائه شماره تراکنش و مبلغ پرداخت شده با بخش پشتیبانی در ارتباط باشید.

            با عرض پوزش برای دوره های خریداری شده، فاکتور صادر نمی گردد و در صورت نیاز به فاکتور، می توانید از رسید بانکی خود پرینت تهیه نمایید.

        </p>
        <br />
        <br />
        <p>با تشکر از همکاری شما</p>
    </div>
</div>