<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div id="roomList" class="list-group">
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <ul id="chatHistory" class="card-body"></ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form id="chatForm" class="form-inline mt-2">
                        <input id="messageTextbox" type="text" placeholder="پیام خود را تایپ کنید" class="form-control mr-sm-2 flex-grow-1" />
                        <button type="submit" class="btn btn-primary">ارسال</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/site.js"></script>
