<div class="bg-secondary h-100 pt-3">
    <div class="container">
        <div class="row text-light">
            <div class="col-4">
                <img src="#" alt="نماد الکترونیکی" />
            </div>
            <div class="col-4">
                <img src="#" alt="نشام ملی ثبت" />
            </div>

            <div class="col-4">
                <ul class="footer-list-icon-group">
                    <li class="footer-list-icon-item pt-5">
                        <a class="footer-link-icon-item" src="#">
                            <i class="bi bi-instagram p-2 footer-icon"></i>
                        </a>
                    </li>
                    <li class="footer-list-icon-item pt-5">
                        <a class="footer-link-icon-item" src="#">
                            <i class="bi bi-telegram p-2 footer-icon"></i>
                        </a>
                    </li>
                    <li class="footer-list-icon-item  pt-5">
                        <a class="footer-link-icon-item" src="#">
                            <i class="bi bi-linkedin p-2 footer-icon"></i>
                        </a>
                    </li>
                    <li class="footer-list-icon-item pt-5">
                        <a class="footer-link-icon-item" src="#">
                            <i class="bi bi-facebook p-2 footer-icon"></i>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="d-flex justify-content-between pt-3" dir="ltr">
                <ul class="d-flex d-inline-flex footer-list-group text-nowrap">
                    <li class="footer-list-item">مرجع تخصصی برنامه نویسان </li>
                    <li class="footer-list-item">آموزشگاه برنامه نویسان</li>
                    <li class="footer-list-item">قالب رایگان</li>
                    <li class="footer-list-item">سفارش پروژه</li>
                    <li class="footer-list-item">گت ورک و کسب درامد</li>
                    <li class="footer-list-item">موتور جست و جو</li>
                    <li class="footer-list-item">لرن بای</li>
                </ul>

            </div>
        </div>
    </div>
</div>

<div class="container">
    <hr class="text-secondary w-100" />
    <p class="text-center">
        تمامی حقوق مادی و معنوی این سایت متعلق به تاپ لرن می باشد و هرگونه کپی برداری غیرقانونی محسوب خواهد شد
    </p>
</div>
